.text-area {
  margin: 0 2.5rem;
  max-width: 64rem;
  display: flex;
  justify-content: space-between;
}

.text-area-title {
  font-size: 72px;
  font-weight: 500;
  line-height: 88px;
  text-align: left;
  text-transform: uppercase;
}

.text-area-body {
  font-size: 32px;
  font-weight: 500;
  line-height: 40px;
  text-align: left;
  text-transform: uppercase;
}

.title-and-body {
  display: flex;
  flex-direction: column;
}

.text-area-year { 
  margin: 2rem;
  opacity: 40%;
}

@media screen and (max-width: 1280px) {
  .text-area-title {
    font-size: 40px;
    line-height: 1.5;
    margin-bottom: 0;
    margin-top: 4rem;
  }

  .text-area-body {
    font-size: 24px;
    line-height: 1.5;
  }
}