.image-title {
  font-size: 14px;
  font-weight: 400;
  line-height: 18px;
  text-align: left;
  text-transform: uppercase;
}

.image-title svg {
  margin-left: 1rem;
}

a {
  color: white;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}