.project-page .text-area {
	margin: auto;
	align-items: center;
	display: block;
}

.project-page .text-area-title {
	text-align: center;
}

.project-page .text-area-body {
	text-transform: unset;
	margin: auto;
	text-align: center;
	margin-bottom: 8rem;
	font-size: 14px;
	line-height: 20px;
	max-width: 28rem;
}

.project-page img {
	max-width: 735px;
	height: auto;
	margin: auto;
	display: block;
	border-radius: 1.25rem;
}

.project-page .buttons {
	margin-top: 15rem;
}

.project-page svg path {
	fill: white;
	opacity: 80%;
}

.project-page svg {
    margin: 1rem;
}

.project-page .footer svg {
    margin: initial;
}

@media screen and (max-width: 1280px) {
    .project-page {
        padding-left: 1rem;
        padding-right: 1rem;
    }

 .text-area {
          word-break: normal;
    }

    .project-page .text-area-title {
        margin: auto;
        margin-bottom: 1rem;
    }

    .project-page .text-area-body {
        margin-bottom: 1rem;
    }

    .project-page .buttons {
        margin-top: 3rem;
    }
}