.about-me {
  display: flex;
  margin: 11rem 2.5rem 0;
  justify-content: center;
}

.about-me .text-area-wrapper {
  display: flex;
  flex-direction: column;
}

.about-me .text-area-title {
  font-size: 24px;
  font-weight: 500;
  line-height: 32px;
  text-align: left;
}

.about-me .text-area-body {
  font-size: 14px;
  font-weight: 400;
  line-height: 18px;
  text-align: left;
}

.about-me .portrait {
  width: 28.125rem;
  height: 39.375rem;
  object-fit: cover;
}

@media screen and (max-width: 1280px) {
  .about-me {
    flex-direction: column;
    align-items: center;
    margin-top: 0;
  }

  .about-me .portrait {
    width: 100%;
    height: 29rem;
  }

  .about-text-area .text-area-title {
    margin: unset;
  }

  .about-text-area:first-of-type {
    margin-top: 3rem;
  }
}
